<h3>Q{{qindex}}. {{question.title}}
</h3>
<div class="text-center">
  <a href="#" ng-click="isHidden = !isHidden">
    <span class="glyphicon glyphicon-chevron-down" />
  </a>
</div>
<div ng-show="isHidden">
  <p ng-bind-html="question.description | addTargetBlank"></p>
  <p>
    <span ng-i18next="[html:i18next]({method: tallyMethod})avElection.public.votingSystemText"></span>
    <span ng-i18next="[html:i18next]({min: question.min, max: question.max, numWinners: question.num_winners})avElection.public.questionInfoText"></span>
  </p>
  <p ng-if="question.randomize_answer_order">
    <strong ng-i18next="[i18next]({count: question.answers.length})avElection.public.answersRandomized"></strong>
  </p>
  <p ng-if="!question.randomize_answer_order">
    <strong ng-i18next="[i18next]({count: question.answers.length})avElection.public.answers"></strong>
  </p>
  <div ng-repeat="answer in question.answers">
    {{answer}}
    <h4>{{answer.text}}</h4>
    <p>{{answer.category}}</p>
    <p>{{answer.description}}</p>
    <p><a ng-href="{{answer.urls[0].url}}">Página web</a></p>
    <p><img class="img-responsive img-rounded answer-img" ng-src="{{answer.urls[1].url}}"></img></p>
  </div>
</div>